.page {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    background: linear-gradient(0deg, rgb(241, 241, 244), rgb(176, 208, 244));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

}
